<% include partials/header %>

<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 class="display-4">Football Quick</h1>
        <p class="lead">This week's league tables and fixtures in a few clicks!</p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="/competitions/england"><img src="../assets/Flag_of_England.png" class="flag"> English Premier League</a>
                <a class="list-group-item list-group-item-action" href="/competitions/spain"><img src="../assets/Flag_of_Spain.png" class="flag"> Spanish La Liga</a>
                <a class="list-group-item list-group-item-action" href="/competitions/italy"><img src="../assets/Flag_of_Italy.png" class="flag"> Italian Serie A</a>
                <a class="list-group-item list-group-item-action" href="/competitions/germany"><img src="../assets/Flag_of_Germany.png" class="flag"> German Bundesliga</a>
                <a class="list-group-item list-group-item-action" href="/competitions/france"><img src="../assets/Flag_of_France.png" class="flag"> French Ligue 1</a>
                <a class="list-group-item list-group-item-action" href="/competitions/portugal"><img src="../assets/Flag_of_Portugal.png" class="flag"> Portuguese Liga NOS</a>
                <a class="list-group-item list-group-item-action" href="/competitions/netherlands"><img src="../assets/Flag_of_Netherlands.png" class="flag"> Dutch Eredivisie</a>
                <a class="list-group-item list-group-item-action" href="/competitions/brazil"><img src="../assets/Flag_of_Brazil.png" class="flag"> Campeonato Brasileiro Série A</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>